In [1]:
import pandas as pd
import numpy as np

In [2]:
custom = pd.read_csv('../data/cs_mkt_dataset/cs_data.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (31,32,33,62,63,64,93,94,95,124,125,126,221,389) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
col=[]
for i in range(1,5):
    for j in range(1,4):
        col.append([f'BUY1_ITM_M{i}_{j}',f'BUY1_MKT_M{i}_{j}'])
col

[['BUY1_ITM_M1_1', 'BUY1_MKT_M1_1'],
 ['BUY1_ITM_M1_2', 'BUY1_MKT_M1_2'],
 ['BUY1_ITM_M1_3', 'BUY1_MKT_M1_3'],
 ['BUY1_ITM_M2_1', 'BUY1_MKT_M2_1'],
 ['BUY1_ITM_M2_2', 'BUY1_MKT_M2_2'],
 ['BUY1_ITM_M2_3', 'BUY1_MKT_M2_3'],
 ['BUY1_ITM_M3_1', 'BUY1_MKT_M3_1'],
 ['BUY1_ITM_M3_2', 'BUY1_MKT_M3_2'],
 ['BUY1_ITM_M3_3', 'BUY1_MKT_M3_3'],
 ['BUY1_ITM_M4_1', 'BUY1_MKT_M4_1'],
 ['BUY1_ITM_M4_2', 'BUY1_MKT_M4_2'],
 ['BUY1_ITM_M4_3', 'BUY1_MKT_M4_3']]

In [6]:
result=set
for i in range(12):
    buy= custom.loc[:,col[i]]
    buy_ov= buy[buy[col[i][1]].isin(['코스피', '코스닥'])]
    buy_uniq= buy_ov.iloc[:,0].unique()
    result= result.union(set(buy_uniq))
len(result)

2743

In [19]:
# 전체 국내주식종목 (개별, etf포함)
pd.DataFrame(result, dtype=str).to_csv('고객국내주식.csv', index=False)

In [10]:
buy_uniq

array(['453540', '049080', '049950', ..., '110990', '003475', '006880'],
      dtype=object)

In [20]:
pd.read_csv('고객국내주식.csv')

             0
0          NaN
1     106240.0
2     104830.0
3     166480.0
4      45060.0
...        ...
2738  394670.0
2739    2360.0
2740    3680.0
2741   95570.0
2742   25550.0

[2743 rows x 1 columns]